<div class="addEmployee my-3 container">
  <button class="btn btn-primary" type="submit">Add Employee</button>
</div>

<div class="container">
  <table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Date Of Joining</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeesData">
        <td>{{ employee["EmployeeId"] }}</td>
        <td>{{ employee["EmployeeName"] }}</td>
        <td>{{ employee["Department"] }}</td>
        <td>{{ employee["DateOfJoining"] | date : "dd/MM/yyyy" }}</td>
        <td>
          <fa-icon
            [icon]="pencil"
            (click)="editEmployee(employee['EmployeeId'])"
          ></fa-icon>
        </td>
        <td>
            <fa-icon
              [icon]="trash"
              (click)="editEmployee(employee['EmployeeId'])"
            ></fa-icon>
          </td>
      </tr>
    </tbody>
  </table>
</div>
